.container {
  width: 400px;
  height: max-content;
  border-radius: 5px;
  display: flex;
  background-color: var(--item-color);
  box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.047);
  transition: 0.3s;
  padding: 0 0.5em 0.5em 0;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card {
  width: inherit;
}

.card > div {
  justify-content: center;
}

.title {
  font-weight: bold;
  text-align: left;
  padding-top: 1em;
  margin: 0.5em;
  overflow-wrap: break-word;
}

.bottom_container {
  display: flex;
  flex-basis: 100%;
  height: 100%;
}

.bottom_container > div {
  width: 50%;
}

.date {
  text-align: left;
  margin: 0.8em;
  font-size: 0.65em;
}

.actions > span {
  float: right;
  margin: 0.2em;
}

.edit:hover {
  color: rgb(113, 113, 113);
  transform: scale(1.5);
}

.delete:hover {
  color: rgb(239, 79, 79);
  transform: scale(1.5);
}

.check {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check > svg {
  width: 2em;
  height: 4em;
}

.not_checked:hover,
.checked:hover {
  color: rgba(18, 216, 114, 0.879);
  transform: scale(1.2);
}

.checked {
  color: rgba(18, 216, 114, 0.879);
}

span > input {
  border-radius: 5px;
  background-color: var(--button-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0.5em;
  border: blanchedalmond;
  padding: 0.5em;
}

.saveBtn {
  margin-top: 0.9em;
}
