.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

.addBtn {
  border-radius: 5px;
  background-color: var(--button-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 0.5em;
  border: blanchedalmond;
  padding: 0.5em;
}

.itemsContainer > li {
  margin: 1em;
  list-style: none;
}
